.price-left-box-border {
  display: inline-block;
  margin: 6px;
  border-top-left-radius: 10px;
}

.price-right-box-border {
  display: inline-block;
  margin: 6px;
  border-top-right-radius: 10px;
}

.price-bottom-box-border {
  display: inline-block;
  margin: 6px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.my-6{
  margin-top: 7rem;
  margin-bottom: 4em;
}


@media (min-width: 1200px) and (max-width: 1800px){
  .ri-right-column{
    padding-left: 45px;
  }

  .ri-middle-column{
    padding-left: 45px;
  }

}

@media (min-width: 992px) and (max-width: 1200px){
  .ri-right-column{
    padding-left: 45px;
  }

  .ri-middle-column{
    padding-left: 45px;
  }


}

@media (min-width: 768px) and (max-width: 992px){
  .ri-right-column{
    padding-top: 20px;
    margin-left: 34%;
  }

}

@media (min-width: 576px) and (max-width: 768px){
  .ri-right-column{
    padding-top: 20px;
    padding-left: 34%;
  }

}

@media (min-width: 2px) and (max-width: 576px){
  .ri-right-column{
    padding-top: 25px;
    padding-right: 10%;
  }
  .ri-img{
    max-width: 50%;
  }
  .ri-middle-column{
    padding-top: 25px;
    padding-right: 5%;
  }

}



